<div class="pie text-center"> 
  <div class="row">
      <div class="bg-light col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr>                    
          <p>Información</p>
          <p>Dirección: Calle 58 # 55 - 24A Barranquilla - Colombia </p>
          <p>Celular: 3013387211- 3214767702</p>
          <p>Correo: compra_venta@gmail.com"</p>
          <p>Politicas de privacidad - Condiciones</p>                 
      </div>
  </div>

  <footer class="bg-light text-center text-white">
      <div class="row">
          <div class="container p-4 pb-0 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <!-- Section: Redes Sociales -->
              <section class="mb-4">
                  <!-- Facebook -->
                  <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://es-la.facebook.com/"
                      role="button" ><img src="./assets/facebook.png" width="40"
                              height="40"></a>

                  <!-- Twitter -->
                  <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/"
                      role="button"><i class="fab fa-twitter"><img src="./assets/gorjeo.png" width="40"
                              height="40"></i></a>


                  <!-- Instagram -->
                  <a class="btn btn-primary btn-floating m-1" style="background-color: #701794;" href="https://www.instagram.com/"
                      role="button"><i class="fab fa-instagram"><img src="./assets/instagram.png" width="40"
                              height="40"></i></a>

                  <img src="" alt="">
                  <!-- Linkedin -->
                  <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/feed/"
                      role="button"><i class="fab fa-linkedin-in"><img src="./assets/linkedin.png" width="40"
                              height="40"></i></a>
              </section>
          </div>
      </div>

      <!-- Copyright -->
      <div class="text-dark text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-dark" href="index.html">Compraventa.com</a>
      </div>
  </footer>    
</div> 
